<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'store/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/business-casual.css' %}" />

    <!-- === Fonts ===-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="brand"><a href="{% url 'home' %}">La vie dans les Fleurs</a></div>
    <div class="address-bar">À OLIVE (un Coeur à donner, a Spring Life)</div>

    <!-- === Navigation === -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                    	<a href="#">Toutes nos Fleurs</a>
                    </li>
                    <li>
                        <a href="#">A propos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container"> <!-- === Data container === -->
      <div class="row">
        <div class="box">
            <h1 class="text-center">{{title}}</h1>

            {% include 'store/search_form.html' %}

            {% block content %} {% endblock %}

        </div>
      </div>
    </div> <!-- === Data container === -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="presentation">
                        <div class="pres-container text-center">
                            <figure>
                                <img src="{% static 'store/img/camelia.jpg' %}" alt="Le camélia">
                                <figcaption>Le camélia</figcaption>
                            </figure>
                        </div>
                        <div class="pres-container">
                            <p>
                                Le Camélia devient l'emblème des Samouraï, ils y voyaient le symbole de la fugacité de la vie dans les pétales rouges de la fleur nouvellement ouverte. Dans ce pays les Camélias à fleurs simples et aux remarquables bouquets d'étamines occupent le premier plan, ils symbolisent l'amitié, l'élégance et l'harmonie. <a href="https://blog.rouepepinieres.com/le-camelia-son-histoire-et-ses-vertus" target="blanket">Plus</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="presentation">
                        <div class="pres-container text-center">
                            <figure>
                                <img src="{% static 'store/img/scaled_marguerite.jpg' %}" alt="La marguerite">
                                <figcaption>La marguerite</figcaption>
                            </figure>
                        </div>
                        <div class="pres-container">
                            <p>
                                Je t’aime…Un peu, beaucoup, passionnément, à la folie, pas du tout… ? Quelle femme ne se rappelle pas avoir interrogé la marguerite…pour en savoir plus sur les intentions de son amoureux ? Qui ne se rappelle pas ces moments brûlants où l’élu fait rêver pendant des heures…sans même être à vos côtés ?
                                <a href="http://ile-des-poetes.over-blog.com/article-31624288.html" target="blanket"> Plus</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row ldjango">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; <a href="#">LDjango</a> pour <a href="https://github.com/alainthierry/florist" target="blanket">LDjango</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- === jQuery === -->
    <script src="{% static 'store/js/jquery.js' %}"></script>
    <!-- === Bootstrap Core JavaScript === -->
    <script src="{% static 'store/js/bootstrap.min.js' %}"></script>

  </body>
</html>
