{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="presentation">
                    <div class="pres-container text-center">
                        <figure>
                            <img src="{% static 'store/img/camelia.jpg' %}" alt="Le camélia">
                            <figcaption>Le camélia</figcaption>
                        </figure>
                    </div>
                    <div class="pres-container">
                        <p>
                            Le Camélia devient l'emblème des Samouraï, ils y voyaient le symbole de la fugacité de la vie dans les pétales rouges de la fleur nouvellement ouverte. Dans ce pays les Camélias à fleurs simples et aux remarquables bouquets d'étamines occupent le premier plan, ils symbolisent l'amitié, l'élégance et l'harmonie. <a href="https://blog.rouepepinieres.com/le-camelia-son-histoire-et-ses-vertus" class="blanket" target="blanket">Plus</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="presentation">
                    <div class="pres-container text-center">
                        <figure>
                            <img src="{% static 'store/img/scaled_marguerite.jpg' %}" alt="La marguerite">
                            <figcaption>La marguerite</figcaption>
                        </figure>
                    </div>
                    <div class="pres-container">
                        <p>
                            Je t’aime…Un peu, beaucoup, passionnément, à la folie, pas du tout… ? Quelle femme ne se rappelle pas avoir interrogé la marguerite…pour en savoir plus sur les intentions de son amoureux ? Qui ne se rappelle pas ces moments brûlants où l’élu fait rêver pendant des heures…sans même être à vos côtés ?
                            <a href="http://ile-des-poetes.over-blog.com/article-31624288.html" target="blanket" class="blanket"> Plus</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ldjango">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; <a href="https://cutt.ly/dchsJaV">LDjango</a> pour <a href="https://github.com/alainthierry/florist" target="blanket">LDjango</a></p>
            </div>
        </div>
    </div>
</footer>