{% extends 'store/base.html' %}

{% block content %}

    <p><em>Oops ! I did it again.</em></p>
    <p>Une erreur s'est produite. Nous sommes actuellement en liaison directe avec Jack Bauer pour investiguer sur les causes du drame.</p>
    <!--{% include 'store/search_form.html' %} NEW -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/d-diB65scQU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
{% endblock %}